extends layout

block content
    div(class='container, col-lg-4, col-lg-offset-1 app')
        h1(class='text-center')= title
        h2(class='text-center')= 'Welcome to Assignment 1'
        p(class='text-center')
            strong= message