body > .app{
    background-color: rgb(62, 129, 119);
    width: 100%;
    margin: 0;
    padding: 0;
}
h1, h2{
    color: rgba(255, 255, 87, 0.95);
    padding: 2.5%;
}
h1{
    font-size: 40px;
    font-weight: bold;
}
h2{
    font-size: 30px;
    padding: 2.5%;
}
p{
    color: white;
    font-size: 20px;
    padding: 5%; 
}

